In [1]:
import pandas as pd

In [ ]:
nba = pd.read_csv('../../Files/nba.csv')
nba["Salary"] = nba["Salary"].fillna(0)
nba[nba["Salary"] == 0]

,Name,Team,Position,Height,Weight,College,Salary
23,Blake Griffin,Boston Celtics,F,6-9,250.0,Oklahoma,0.0
26,Mfiondu Kabengele,Boston Celtics,C,6-10,250.0,Florida State,0.0
28,Svi Mykhailiuk,Boston Celtics,G-F,6-7,205.0,Kansas,0.0
35,Robert Williams III,Boston Celtics,C-F,6-9,237.0,Texas A&M,0.0
39,Nic Claxton,Brooklyn Nets,C,6-11,215.0,Georgia,0.0
...,...,...,...,...,...,...,...
547,Gary Trent Jr.,Toronto Raptors,G-F,6-5,209.0,Duke,0.0
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,0.0
584,Kendrick Nunn,Washington Wizards,G,6-3,190.0,Oakland,0.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
591,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [8]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [13]:
nba["Salary"] = nba["Salary"].astype('int')
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [19]:
nba["Weight"] = nba["Weight"]\
    .fillna(0)\
    .astype(int)
nba.dtypes

Name        object
Team        object
Position    object
Height      object
Weight       int64
College     object
Salary       int64
dtype: object