In [ ]:
# Calculate Special Bonus

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | employee_id | int     |
# | name        | varchar |
# | salary      | int     |
# +-------------+---------+
# employee_id is the primary key (column with unique values) for this table.
# Each row of this table indicates the employee ID, employee name, and salary.
# Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.
# Return the result table ordered by employee_id.

import pandas as pd


def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:

    def sal_eval(row):
        if row.loc["employee_id"] % 2 != 0 and not row.loc["name"].startswith("M"):
            return row.loc["salary"]
        else:
            return 0
    employees["bonus"] = employees.apply(sal_eval, axis="columns")

    return employees[["employee_id", "bonus"]].sort_values("employee_id")